<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{static_url("css/w3.css")}}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href={{static_url("css/index-start.css")}}>
    <title>EvoRecSys - English version - Feedback</title>
</head>
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-large">
        <a class="text-white">EvoRecSys</a>
    </div>
    <div class="w3-display-middle w3-half w3-padding-large w3-large">
        <p class="w3-large w3-animate-top">We are in process of improving EvoRecSys. Would you like to help us?
            It's just 4 questions. We promise, the last ones!</p>
        <div class="w3-bar w3-center">
            <form method="post">
                <input type="submit" class="w3-button w3-medium w3-dark-gray w3-round-medium" name="feedback"
                       value="Yes">
                <input type="submit" class="w3-button w3-medium w3-dark-gray w3-round-medium" name="feedback"
                       value="No">
            </form>
        </div>
    </div>
</div>
</body>
</html>
