<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{static_url("css/w3.css")}}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href={{static_url("css/index-start.css")}}>
    <title>EvoRecSys - English Version</title>
</head>
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-middle">
        <h1 class="display-5 text-white w3-animate-zoom">EvoRecSys</h1>
        <div class="w3-bar w3-animate-bottom">
            <form method="post">
                <input type="submit" class="w3-button w3-medium w3-dark-gray w3-round-medium"
                       name="language" value="English">
                <input type="submit" class="w3-button w3-medium w3-dark-gray w3-round-medium"
                       name="language" value="Spanish" disabled>
            </form>
        </div>
    </div>
</div>
</body>
</html>
