<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{static_url("css/w3.css")}}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href={{static_url("css/index-start.css")}}>
    <title>EvoRecSys - English version</title>
</head>
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-middle w3-half w3-padding-large w3-large">
        <div align="center">
             <p class="w3-xxxlarge w3-animate-top w3-padding-large w3-large">Ups!</p>
        </div>
        <p class="w3-large w3-animate-bottom"> It seems your web browser doesn't allow the use of cookies. Please,
            change that configuration and try it again. Otherwise try with other web browser. Thank you! </p>
        <div class="w3-bar w3-center">
            <form method="post">
                <input type="submit" class="w3-button w3-medium w3-dark-gray w3-round-medium" name="continuation"
                       value="Got it!">
            </form>
        </div>
    </div>
</div>
</body>
</html>
